services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - ${APP_PORT}:${APP_PORT}
    networks:
      - wata-network
volumes:
  boilerplate-db:
  
networks:
  wata-network:
    external: true
